@{
    ViewBag.Title = "Principal";
    Layout = null;
    var muestra = ViewData.Model;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/Proyecto/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bootstrap/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Bootstrap/css/bootstrap-theme.css")" />
    <script src="@Url.Content("~/Scripts/Bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Proyecto/JsPropio.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Proyecto/EstiloPropio.css")" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Sistema de Búsqueda de Canciones Similares</h1>
        </div>
        
        <div class="row">
            <form class="form-inline">
                <div class="form-group">
                    <div class="bloque">
                        <input type="radio" name="entrada" value="url" checked id="urlButton">Ingrese URL
                        <br>
                        <input type="radio" name="entrada" value="title" id="titleButton">Ingrese Titulo y Artista
                    </div>
                    <div class="bloque">
                        <input type="text" class="form-control" id="url" placeholder="URL">

                        <input type="text" class="form-control" id="titulo" placeholder="Titulo">
                        <input type="text" class="form-control" id="artista" placeholder="Artista">
                    </div>
                    </div>
                <div style="margin:10px">
                    <button id="btnURL" class="btn btn-default" onclick="enviarURL()">Buscar Similares</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="miAudio">

            </div>
            <div id="PlayList">

            </div>
        </div>
    </div>
</body>
</html>
<script>
    var path = "";
    $("#titulo").hide();
    $("#artista").hide();

    $("#urlButton").on("click", function () {
        $("#url").show();
        $("#titulo").hide();
        $("#artista").hide();
    });
    $("#titleButton").on("click", function () {
        $("#url").hide();
        $("#titulo").show();
        $("#artista").show();
    });
</script>